<div class="container" ng-if="!userErrorMsg">
    <h4 class="text-center mb-5 mt-3">User Suggestions</h4>
    <div class="row text-center justify-content-center ">
        <div class="col-md-3 ml-3" ng-style="{'background-color':getRandomBG()}"
            ng-repeat="user in suggestedUserList track by $index">
            <h2 class="fruits mt-4 text-white">{{user.name}}</h2>
            <p class="number mt-5 text-white">Interest Matched - ({{user.same_topic_count}})</p>
        </div>
        <div class="ml-3" 
            ng-if="suggestedUserList.length < 1">
            <h2 class="mt-4 text-black">No Suggestion found. Please Go back and register Again</h2>
        </div>
    </div>
</div>

<div class="container" ng-if="userErrorMsg">
    {{userErrorMsg}}
</div>
