<div class="signup-form">
  <form ng-if="showRegisterForm">
    <h2>Register</h2>
    <p class="hint-text">Register to view and connect with others.</p>
    <div class="form-group">
      <input type="text" class="form-control" name="first_name" ng-model="registerForm.name" placeholder="First Name"
        required="required">
    </div>
    <div class="form-group">
      <div class="input-file-container">
        <label>Select Profile photo:</label>
        <input type="file" id="my-file" name="file" file-model="registerForm.profilephoto"
          onchange="angular.element(this).scope().selectProfilePhoto(this)" class="input-file"
          accept="image/png, image/gif, image/jpeg">
      </div>
    </div>
    <div class="form-group">
      <select class="form-control" ng-model="registerForm.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="dob" ng-model="registerForm.dob" placeholder="dob (YYYY-MM-DD)"
        required="required">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="registerForm.aboutMe" name="aboutme" placeholder="About Me"
        required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="registerUser()">Register</button>
    </div>
  </form>
  <div ng-if="errorMsg">
    <label style="color: red;">{{errorMsg}}</label>
  </div>

  <form ng-if="!showRegisterForm">
    <h2>Please select Topics of Interest</h2>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="selectedTopics.first" ng-true-value="{{topicList[0].topic_id}}"
            ng-false-value="''">{{topicList[0].topic_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="selectedTopics.second" ng-true-value="{{topicList[1].topic_id}}"
            ng-false-value="''">{{topicList[1].topic_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="selectedTopics.third" ng-true-value="{{topicList[2].topic_id}}"
            ng-false-value="''">{{topicList[2].topic_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="selectedTopics.fourth" ng-true-value="{{topicList[3].topic_id}}"
            ng-false-value="''">{{topicList[3].topic_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="selectedTopics.fifth" ng-true-value="{{topicList[5].topic_id}}"
            ng-false-value="''">{{topicList[4].topic_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="selectedTopics.sixth" ng-true-value="{{topicList[5].topic_id}}"
            ng-false-value="''">{{topicList[5].topic_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="selectedTopics.seventh" ng-true-value="{{topicList[6].topic_id}}"
            ng-false-value="''">{{topicList[6].topic_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="selectedTopics.eighth" ng-true-value="{{topicList[7].topic_id}}"
            ng-false-value="''">{{topicList[7].topic_name}}</label>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="saveTopics()">Save</button>
    </div>
    <div ng-if="topicErrorMsg">
      <label style="color: red;">{{topicErrorMsg}}</label>
    </div>
  </form>

</div>
